@charset "UTF-8";

*,*::before,*::after {
    font-family: "Google Sans", "Noto Sans JP", sans-serif;
}
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    display: flex;
}
#wrapper {
    width: 100%;
    height: 100%;
    display: grid;
}
#header {
    background-color: #aaa;
}
#main {
    overflow-y: auto;
}
#footer {
    background-color: #bbb;
    text-align: center;
    display: grid;
    place-content: center;
}
#copy {
    display: block;
}

@media (min-width: 992px) {
#wrapper {
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 50px;
}
#header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#main {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#footer {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
}

@media (max-width: 991px) {
#wrapper {
    grid-template-rows: 40px 1fr 30px;
}
#header {
    grid-row: 1 / 2;
}
#main {
    grid-row: 2 / 3;
}
#footer {
    grid-row: 3 / 4;
}
}